{
  "presets": ["razzle/babel"],
  "plugins": [
    "react-loadable/babel",
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true,
      },
    }]
  ]
}
